

h1 {text-align: center;
    font-size: 36px;
    color: black;
}

table, th, td, tr {
    border: 2px transparent;
    color: wheat;
    border-collapse: collapse;
    justify-content: center;
    width: 480px;
    background-color: grey;
}

th{
    margin-top: 200px;
}

/* tr{
    width: 900px;
} */


.center{
    margin-left: auto;
    margin-right: auto;
}


.frame_main{
    display: flex;
    justify-content: space-evenly;
}

.frame_sub{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.img_pfp{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 84px;
    height: 84px;

}

p{
    font-size: 18px;
    color: aliceblue;
}

.button{
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
   
}

hr{
    height:2px;
    border-width:100%;
    color:white;
    background-color:white;
}